<html>
    <head><link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Test your Anagram</title>
    </head>
    <body>
        <div class='container'>
            <h1>Word Counter</h1>
            <form action='/count'>
                <div class='form-group'>
                    <label for= 'phrase'>Enter a phrase or sentance:</label>
                    <input for='phrase' name='phrase' class='form-control' type='text'>
                    <label for='word'>Enter the word you want to test:</label>
                    <input id='word' name='word' class='form-control' type='text'>
                </div>
                <button type='submit' class='btn-success'>Check</button>
            </form>
        </div>
    </body>
</html>
